@{
    ViewData["Title"] = "Home Page";
}

<form>
    Texto a analizar: <input type="text" name="textoNLP" id="paraprocesar"><br>

</form>
<button id="analizar">Analizar</button>
<br>

<div>
    <textarea rows="4" cols="50" id="response">
        
    </textarea>
</div>
<br>
<div>
    <textarea rows="4" cols="50" id="response2">
        
    </textarea>
</div>

<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script>
    $("#analizar").click(function () {
        var document = {
            document: {
                type: "PLAIN_TEXT",
                content: $("#paraprocesar").val()
            },
            encodingType: "UTF16"
        };

        $.ajax({
            type: "POST",
            url: "https://cxl-services.appspot.com/proxy?url=https://language.googleapis.com/v1beta2/documents:analyzeEntitySentiment",

            data: JSON.stringify(document),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $("#response2").append(JSON.stringify(response));
            },
            failure: function (msg) {
                alert(msg);
            }
        });
        $.ajax({
            type: "POST",
            url: "https://cxl-services.appspot.com/proxy?url=https://language.googleapis.com/v1beta2/documents:analyzeSentiment",

            data: JSON.stringify(document),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $("#response").append(JSON.stringify(response));
            },
            failure: function (msg) {
                alert(msg);
            }
        });
    });
</script>
